@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background: linear-gradient(#06A3EA, #2095F2);
}

[class$="-carousel-container"],
[class*="-carousel-container "] {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
  font-family: 'Lato', sans-serif;
  position: relative;
}

[class$="-carousel-slide"],
[class*="-carousel-slide "] {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[class$="-carousel-slide-top"],
[class*="-carousel-slide-top "] {
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
}

[class$="-carousel-slide-image"],
[class*="-carousel-slide-image "] {
  flex: 1 1 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

[class$="-carousel-slide-description"],
[class*="-carousel-slide-description "] {
  flex: 1 1 50%;
  overflow-y: scroll;
  white-space: pre-wrap;
  padding: 0 1em;
  font-size: .8em;
  .title{
      margin: 0;
  }
}

[class$="-carousel-slide-info"],
[class*="-carousel-slide-info "] {  
  flex: 1 1 50%;
  padding: 1em .5em;
  .location{
      font-size: .5em;
      display: inline-block;
      margin-left: 1em;
  }
  .name{
      display:inline-block;
      margin: 0;
  }
  p{
      margin: .3em;
  }

}